body{
    background-color: #4E4D83;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.item{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 15px;
    background-color: #8FAE59;
    margin-bottom: 50px;
}

.portada_item img {
    height: 300px;
    width: 250px;
}

p.descripcion{
    width: 600px;
}

.login{
    width: 900px;
    height: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabla{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 15px;
    width: 1200px;
    border: solid black 5px;
    background-color: white;
}

h1.tituloForm{
    text-align: center;
}

.containerForm{
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: solid black 5px;
    border-radius: 15px;
}

form{
    display: grid;
}

h2.titulo{
text-align: center;
}
div.comentario{
    background-color: #3D776D;
    border: solid black 5px;
    border-radius: 15px;
    width: 450px;
    padding: 10px;
}

.comentariosForm{
    width: 450px;
}

li.comentario{
    margin: inherit;
}

.cajaDeComentarios{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h5.usuario{
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.oculto{
    display: none;
}

/*
.color-primary-0 { color: #144B42 }	/* Main Primary color 
.color-primary-1 { color: #3D776D }
.color-primary-2 { color: #255E54 }
.color-primary-3 { color: #06342C }
.color-primary-4 { color: #001E19 }

.color-secondary-1-0 { color: #201F53 }	/* Main Secondary color (1) 
.color-secondary-1-1 { color: #4E4D83 }
.color-secondary-1-2 { color: #333268 }
.color-secondary-1-3 { color: #0F0E3A }
.color-secondary-1-4 { color: #050421 }

.color-secondary-2-0 { color: #506E1D }	/* Main Secondary color (2) 
.color-secondary-2-1 { color: #8FAE59 }
.color-secondary-2-2 { color: #6B8A36 }
.color-secondary-2-3 { color: #334C08 }
.color-secondary-2-4 { color: #1C2C00 }
*/