.container{
    display: flex;
}

.item{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada_item img {
    height: 300px;
    width: 250px;
}

p.descripcion{
    width: 600px;
}

.login{
    width: 900px;
    height: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}